@use "../util/util.scss" as util;

$color_blue: #666ca3;
$color_black: #13183f;
$color_gray: #666ca3;
$color_red: #13183f;
$color_pink: #ffa7c3;

@mixin colorGradient($color1, $color2, $degree: 180) {
  background: linear-gradient($degree * 1deg, $color1 0%, $color2 100%);
}

@mixin gradientRed() {
  @include colorGradient(rgba(240, 42, 166), rgba(255, 111, 72));
}
@mixin gradientBlue() {
  @include colorGradient(rgba(72, 81, 255), rgba(240, 42, 166));
}

@mixin HeadingXL() {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;
}
@mixin HeadingL() {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
}
@mixin HeadingM() {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}
@mixin HeadingS() {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}

@mixin BodyM() {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
@mixin BodyS() {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}

.box {
  @include HeadingXL;
  background: util.rgbConverter();
}
