@use "src/css/util" as *;
@use "src/css/variable" as *;

.bannerWrap {
  height: 71px;
  background: yellow;
  display: flex;
  justify-content: space-between;
  .textLeft {
    white-space: nowrap;
    padding: var(--padding);
    line-height: 20px;
    // padding: 10px;
    margin: auto 0;
    strong {
      font-weight: bold;
    }
  }
  .imgRight {
    display: flex;
    img {
      margin-left: auto;
      height: 100%;
    }
  }

  --padding: #{map-get($paddingLeft, mobile)};
  @include mobile {
    --padding: 20px #{map-get($paddingLeft, pc)};
    br {
      display: none;
    }
  }
}
