@use "src/css/util" as *;
@use "src/css/variable" as *;

.bannerWrap {
  height: 71px;
  background: yellow;
  display: flex;
  justify-content: space-between;
  .textLeft {
    white-space: nowrap;
    // padding: toVar(padding);
    @include auto(padding-left, header leftPadding);
    line-height: 20px;
    margin: auto 0;
    strong {
      font-weight: bold;
    }
  }
  .imgRight {
    display: flex;
    img {
      margin-left: auto;
      height: 100%;
    }
  }
}
