.header {
  margin: 20px 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .darkModeWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
  .header {
    margin: 20px 100px;

    flex-direction: row;
  }
}
