.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal.active {
  display: block;
}

.modal.active .edit {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal.active .edit input {
  font-size: 12px;
  height: 100%;
  width: 100%;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: 50px 1fr;
      grid-template-columns: 50px 1fr;
  -ms-grid-rows: 50px 1fr;
      grid-template-rows: 50px 1fr;
}

.container .item:nth-child(1) {
  background: rgba(108, 132, 201, 0.2);
}

.container .item:nth-child(2) {
  background: rgba(168, 158, 33, 0.2);
}

.container .item:nth-child(3) {
  background: rgba(27, 80, 238, 0.2);
}

.container .item:nth-child(4) {
  background: rgba(28, 80, 107, 0.2);
}

.container .item:nth-child(5) {
  background: rgba(198, 101, 244, 0.2);
}

.container .item:nth-child(6) {
  background: rgba(148, 189, 249, 0.2);
}

.container .item:nth-child(7) {
  background: rgba(253, 114, 117, 0.2);
}

.content span.selected {
  border: solid 1px red;
}

.headerColumns {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerColumns li {
  position: relative;
  text-align: center;
  line-height: 50px;
  width: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.headerColumns li:after {
  position: absolute;
  right: 0px;
  content: "";
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: black;
  width: 1px;
  height: 100%;
}

.headerColumns li:active {
  background: yellow;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.headerColumns li:hover:after {
  background: green;
  cursor: -webkit-grab;
  cursor: grab;
  width: 5px;
}

.headerColumns li:active:after {
  background: red;
}

.headerRows {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  grid-column: 1;
}

.headerRows li {
  position: relative;
  text-align: center;
  line-height: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.headerRows li:after {
  position: absolute;
  left: 0px;
  bottom: 0px;
  content: "";
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: black;
  width: 100%;
  height: 1px;
}

.headerRows li:active {
  background: yellow;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.headerRows li:hover:after {
  background: green;
  cursor: -webkit-grab;
  cursor: grab;
  height: 5px;
}

.headerRows li:active:after {
  background: red;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-rows: (20px)[4];
      grid-template-rows: repeat(4, 20px);
  -ms-grid-columns: (20px)[4];
      grid-template-columns: repeat(4, 20px);
}

.content span {
  text-align: center;
  height: 100%;
  border: solid 1px black;
  grid-gap: 1px;
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=index.css.map */