@import "util";

.headerCol {
  display: flex;
  li {
    background: #bbb;
    border: solid 1px black;

    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }
}

.headerRow {
  display: flex;
  flex-direction: column;
  li {
    background: #bbb;
    border: solid 1px black;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 20px;
    line-height: 20px;
  }
}

.container {
  display: grid;
  grid-gap: 5px;
  // grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);

  @for $i from 0 through 6 {
    .item:nth-child(#{$i + 1}) {
      background: rgbConverter();
    }
  }
}

.headerColumns {
  grid-row: 1;
  grid-column: 2/4;

  display: flex;
  li {
    position: relative;
    text-align: center;
    line-height: 100px;
    width: 50px;
    user-select: none;
  }
  li:after {
    position: absolute;
    right: 0px;
    content: "";
    box-sizing: content-box;
    background: black;
    width: 1px;
    height: 100%;
  }
  li:hover:after {
    cursor: pointer;
  }
}
.headerRows {
  grid-row: 2/4;
  grid-column: 1;

  li {
    position: relative;
    text-align: center;
    line-height: 25px;
  }
  li:after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: "";
    box-sizing: content-box;
    background: black;
    width: 100%;
    height: 1px;
  }
  li:hover:after {
    cursor: pointer;
  }
}
.content {
  grid-row: 2/4;
  grid-column: 2/4;
}
// .four {
//   grid-column: 3;
//   grid-row: 3;
// }
// .five {
//   grid-column: 2;
//   grid-row: 4;
// }
// .six {
//   grid-column: 3;
//   grid-row: 4;
// }
