.main {
  h2 {
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
    .highLight {
      color: red;
    }
  }
}

@media (min-width: 600px) {
  .main {
    max-width: 1320px;
    margin: 0 auto;
    h2 {
      margin: 20px 0;
    }
  }
}
