.GNB {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  position: relative;

  .hamburgerWrap {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .titleLogo {
    height: 35px;
    img {
      height: 100%;
    }
  }
}
