.header {
  background: url("../../public/images/bg-hero-mobile.svg");
  padding: 28px 16px;
  .topWrap {
    display: flex;
    justify-content: space-between;
    .logo {
      height: 16px;
      width: 100px;
    }
    .freeBtn {
      display: flex;
      background: white;
      border-radius: 28px;
      padding: 4px 24px;
      font-size: 10px;
      box-shadow: 0 5px 1px 1px rgb(231, 231, 231);
    }
  }
  .headerContent {
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      padding: 0 55px;
      line-height: 35px;
    }
    .content {
      text-align: center;
      margin-top: 20px;
      font-size: 16px;
      padding: 0 38px;
      line-height: 20px;
    }
    .freeBtn {
      margin-top: 33px;
      display: flex;
      border-radius: 28px;
      background: #ff52bf;
      padding: 8px 50px;
      span {
        margin: auto;
        font-size: 12px;
        color: white;
      }
    }
    .mockupImg {
      margin: 54px 38px 0px;
      width: 300px;
      // width:100%;
      height: 215px;
    }
  }
}

@media (min-width: 600px) {
  .header {
    background: url("../../public/images/bg-hero-desktop.svg");
    padding: 56px 80px;
    .topWrap {
      .logo {
        height: 32px;
        width: 200px;
      }
      .freeBtn {
        height: 48px;
        width: 200px;
        text-align: center;
        padding: 14px 64px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: bold;
        box-shadow: 0 5px 1px 1px rgb(231, 231, 231);
        span {
          margin: auto;
        }
      }
    }
    .headerContent {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 68px;
      .left {
        margin: auto 0;
        width: 50%;
      }
      .title {
        text-align: left;
        padding: 0 0px;
      }
      .content {
        text-align: left;
        padding: 0 0px;
      }
      .freeBtn {
        max-width: 280px;
        box-sizing: border-box;
        padding: 17px 70px;
      }
      .mockupImg {
        margin: 0;
        flex: 50%;
        height: 500px;
      }
    }
  }
}
