$error: #c92432;

.input-container[data-error]::after {
  content: attr(data-error);
  display: block;
}
main {
  margin-top: 50px;
}
header {
  position: fixed;
  top: 0;
  height: 50px;
  background: yellow;
}

header.hidden {
  // display: none;
  opacity: 0;
  transition: 1s;
  pointer-events: none;
  cursor: default;
}
