body {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  .imgBx {
    position: sticky;
    height: 100vh;
    top: 0;
    flex: 50%;
    img {
      width: 100%;
    }
  }
  .storyBx {
    flex: 50%;
  }
}
