.center{
  margin: 0 auto;
  width:100vw;
  text-align: center;
}

.sliderWrap{
  width:100px;
  overflow: hidden;
  .sliderList{
    display:flex;
    transform: translateX(0px);
    .image{
      cursor:pointer;
      width:100px;
      height:100%;
    }
  }
}