@use "src/css/variable" as *;

@mixin mobile {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@function map($object, $key) {
  $result: map-get(map-get($objects, $object), $key);
  @return #{$result};
}

@function mapDevice($object, $key, $device) {
  $result: map-get(map-get($objects2, $object), $key);
  @return #{map-get($result, $device)}; //map은 return이 안됨
}

@mixin makeVar($var, $value) {
  #{-- + $var}: $value;
}

@mixin varMap($variable, $object, $key, $head: #{""}) {
  $value: $head map($object, $key);
  @include makeVar($variable, $value);
}

@function toVar($value) {
  $result: var(#{-- + $value});
  @return $result;
}

//padding-left: auto("header leftPadding");
//padding-left: var(--header_leftPadding)
:root {
  --header_leftPadding: 20px;
  @media screen and (min-width: 600px) {
    --header_leftPadding: 20px;
  }
}

// $objects: (
//   header: (
//     leftPadding: (
//       mobile: 10px,
//       pc: 100px,
//     ),
//   ),
// );
@mixin auto($key, $area) {
  // #{$key}: #{mapDevice(nth($area, 1), nth($area, 2), mobile)};
  #{$key}: #{mapDevice(nth($area, 1), nth($area, 2), mobile)};
  @media screen and (min-width: 600px) {
    #{$key}: #{mapDevice(nth($area, 1), nth($area, 2), pc)};
  }
  // #{$key}: #{nth($area, 1)};
  // #{-- + $var};
} ;
