@import "util";
body {
  margin: 0 auto;
  max-width: 1120px;
}
header .top_pc {
  display: none;
  height: 6rem;
}
header .top {
  border-bottom: 1px solid black;
  .menuBtn {
    background: rgbConverter();
    height: 2rem;
    width: 2rem;
    flex: 0 0 auto; //기본값 : 0 1 auto
  }
  .title {
    white-space: nowrap;
  }
  .iconWrap {
    display: flex;
    .icon + .icon {
      margin-left: 0.5rem;
    }
    .icon {
      background: rgbConverter();
      height: 2rem;
      width: 2rem;
    }
  }
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5rem;
  padding: 0 0.8rem;
}
header .category {
  display: flex;
  font-size: 1.3rem;
  div {
    padding: 0.8rem 0.4rem;
  }
}

main .banner {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  img {
    width: 100%;
    object-fit: cover;
    max-height: 380px;
  }
}
main .productCategory {
  background: rgbConverter();
  display: flex;
  flex-wrap: wrap;
  div {
    border: solid black 1px;
    border-collapse: collapse;
    box-sizing: border-box;
    flex: 1 1 25%;
    height: 25vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      height: 5.2rem;
      width: 5.2rem;
    }
  }
}

@media (min-width: 620px) {
  header .top {
    display: none;
  }
  header .top_pc {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main .productCategory {
    display: none;
  }
  main .banner{
    width: 100vw;
    height: 270px;
  }
  main .banner img {
    width: 100%;
    object-fit:cover;
    height: 270px;
  }
}
