.wrap {
  max-width: 1278px;
  margin: 0 auto;
}

section.pl15 {
  padding-left: 15px;
}

section.pr15 {
  padding-right: 15px;
}

.fullWidth {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

header .topBannerSection {
  position: relative;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #6ec3ed;
}

header .topBannerSection .closeBtn {
  position: absolute;
  right: 17px;
  font-size: 21px;
  color: white;
  top: calc(57px / 2 - (21px / 2));
}

header .titleSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 91px;
  background: rgba(245, 245, 16, 0.2);
}

header .titleSection .navBtn {
  display: none;
}

header .titleSection .icon {
  font-size: 21px;
}

header .titleSection .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .titleSection .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .titleSection .title {
  font-size: 30px;
  font-weight: bold;
}

header .titleSection .mainCategoryWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .titleSection .mainCategoryWrap li {
  margin-left: 37px;
  font-weight: bold;
  font-size: 19px;
}

header .titleSection .mainCategoryWrap li:hover {
  cursor: pointer;
}

header .titleSection .mainCategoryWrap li.active {
  color: #6ec3ed;
}

header .titleSection .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px;
  padding: 13px 14px;
}

header .titleSection .search input {
  border: none;
  background: rgba(255, 255, 255, 0);
  padding-left: 10px;
}

header .titleSection .search i {
  font-size: 21px;
}

header .titleSection .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .titleSection .login ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .titleSection .login ul li {
  padding-left: 13px;
  padding-right: 13px;
}

header .titleSection .login ul li:hover {
  cursor: pointer;
}

header .titleSection .login ul li + li {
  border-left: solid 1px;
}

header .categorySection {
  background: rgba(249, 218, 129, 0.2);
  height: 56px;
  overflow-x: auto;
}

header .categorySection ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .categorySection ul li {
  font-weight: bold;
}

header .categorySection ul li:hover {
  cursor: pointer;
}

header .categorySection ul li .active {
  color: #6ec3ed;
}

header .categorySection ul li .new {
  color: #ea7f7a;
}

header .categorySection ul li + li {
  margin-left: 27px;
}

main .bannerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(24, 73, 227, 0.2);
  height: 427px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  overflow: hidden;
}

main .bannerDescriptSection {
  background: rgba(6, 222, 178, 0.2);
  height: 46px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

main .bannerDescriptSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .bannerDescriptSection ul li {
  font-weight: bold;
  padding: 15px 0;
}

main .bannerDescriptSection ul li:hover {
  cursor: pointer;
}

main .todayDealSection {
  background: rgba(176, 38, 35, 0.2);
  height: 500px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

main .categorySection {
  background: rgba(96, 61, 74, 0.2);
  height: 191px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

main .popularKeywordSection {
  background: rgba(71, 73, 13, 0.2);
  height: 170px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

main .popularProductSection {
  background: rgba(172, 161, 39, 0.2);
  height: 552px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 995px) {
  header .titleSection .right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .titleSection .right .search {
    border: none;
  }
  header .titleSection .right .search .searchInput,
  header .titleSection .right .search .fa-camera {
    display: none;
  }
  .bannerDescriptSection {
    display: none;
  }
}

@media screen and (max-width: 745px) {
  .wrap {
    padding: 0 16px;
  }
  header .topBannerSection {
    display: none;
  }
  header .topBannerSection .navBtn {
    font-size: 21px;
  }
  header .titleSection {
    height: 57px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .titleSection .navBtn,
  header .titleSection .left,
  header .titleSection .right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .titleSection .mainCategoryWrap,
  header .titleSection .login ul {
    display: none;
  }
  header .categorySection {
    height: 48px;
  }
  header .categorySection ul li + li {
    margin-left: 18px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .bannerSection {
    height: 100%;
  }
  main .bannerSection img {
    width: 100%;
  }
  main .bannerDescriptSection {
    display: none;
  }
  main .todayDealSection {
    height: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .categorySection {
    height: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main .popularKeywordSection {
    height: 100%;
  }
  main .popularProductSection {
    height: 100%;
  }
  section.pl15 {
    padding-left: 0px;
  }
  section.pr15 {
    padding-right: 0px;
  }
}
/*# sourceMappingURL=index.css.map */